ClubCampestreUI/ClubCampestre_BLL/Service References/SVC_CatalogosMantenimientos/CatalogosMantenimientos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CatalogosMantenimientos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:20191/CatalogosMantenimientos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:20191/CatalogosMantenimientos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:20191/CatalogosMantenimientos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICatalogosMantenimientos_eliminarRol_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarRol" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarRolResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarMemebresias_InputMessage">
    <wsdl:part name="parameters" element="tns:listarMemebresias" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarMemebresias_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarMemebresiasResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarMemebresias_InputMessage">
    <wsdl:part name="parameters" element="tns:filtrarMemebresias" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarMemebresias_OutputMessage">
    <wsdl:part name="parameters" element="tns:filtrarMemebresiasResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarMemebresias_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarMemebresias" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarMemebresias_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarMemebresiasResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarMemebresias_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarMemebresias" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarMemebresias_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarMemebresiasResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarMemebresias_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarMemebresias" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarMemebresias_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarMemebresiasResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarBeneficiarios_InputMessage">
    <wsdl:part name="parameters" element="tns:listarBeneficiarios" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarBeneficiarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarBeneficiariosResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarBeneficiarios_InputMessage">
    <wsdl:part name="parameters" element="tns:filtrarBeneficiarios" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarBeneficiarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:filtrarBeneficiariosResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarBeneficiarios_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarBeneficiarios" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarBeneficiarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarBeneficiariosResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarBeneficiarios_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarBeneficiarios" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarBeneficiarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarBeneficiariosResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarBeneficiarios_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarBeneficiarios" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarBeneficiarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarBeneficiariosResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:listarClientes" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarClientesResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:filtrarClientes" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:filtrarClientesResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarClientes" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarClientesResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarClientes" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarClientesResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarClientes" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarClientesResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarCorreos_InputMessage">
    <wsdl:part name="parameters" element="tns:listarCorreos" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarCorreos_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarCorreosResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarCorreos_InputMessage">
    <wsdl:part name="parameters" element="tns:filtrarCorreos" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarCorreos_OutputMessage">
    <wsdl:part name="parameters" element="tns:filtrarCorreosResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarCorreos_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarCorreos" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarCorreos_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarCorreosResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarCorreos_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarCorreos" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarCorreos_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarCorreosResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarCorreos_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarCorreos" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarCorreos_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarCorreosResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:listarEstado" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:filtrarEstado" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:filtrarEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarEstado" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarEstado" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarEstado" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarFacturacion_InputMessage">
    <wsdl:part name="parameters" element="tns:filtrarFacturacion" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarFacturacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:filtrarFacturacionResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarFacturacion_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarFacturacion" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarFacturacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarFacturacionResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarFacturacion_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarFacturacion" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarFacturacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarFacturacionResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarFacturacion_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarFacturacion" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarFacturacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarFacturacionResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarFacturaDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:listarFacturaDetalle" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarFacturaDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarFacturaDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarFacturaDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:filtrarFacturaDetalle" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarFacturaDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:filtrarFacturaDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarFacturaDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarFacturaDetalle" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarFacturaDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarFacturaDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarFacturaDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarFacturaDetalle" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarFacturaDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarFacturaDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarFacturaDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarFacturaDetalle" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarFacturaDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarFacturaDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:listarPersona" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:filtrarPersona" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:filtrarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarPersona" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarPersona" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarPersona" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarTipoServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:listarTipoServicio" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarTipoServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarTipoServicioResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarTipoServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:filtrarTipoServicio" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarTipoServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:filtrarTipoServicioResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarTipoServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarTipoServicio" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarTipoServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarTipoServicioResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarTipoServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarTipoServicio" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarTipoServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarTipoServicioResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarTipoServicio_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarTipoServicio" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarTipoServicio_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarTipoServicioResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarTipoMembresia_InputMessage">
    <wsdl:part name="parameters" element="tns:listarTipoMembresia" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarTipoMembresia_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarTipoMembresiaResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarTipoMembresia_InputMessage">
    <wsdl:part name="parameters" element="tns:filtrarTipoMembresia" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarTipoMembresia_OutputMessage">
    <wsdl:part name="parameters" element="tns:filtrarTipoMembresiaResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarTipoMembresia_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarTipoMembresia" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarTipoMembresia_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarTipoMembresiaResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarTipoMembresia_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarTipoMembresia" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarTipoMembresia_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarTipoMembresiaResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarTipoMembresia_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarTipoMembresia" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarTipoMembresia_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarTipoMembresiaResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarTipoCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:listarTipoCliente" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarTipoCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarTipoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarTipoCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:filtrarTipoCliente" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarTipoCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:filtrarTipoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarTipoCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarTipoCliente" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarTipoCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarTipoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarTipoCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarTipoCliente" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarTipoCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarTipoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarTipoCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarTipoCliente" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarTipoCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarTipoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:listarUsuario" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:filtrarUsuario" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:filtrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarUsuario" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarUsuario" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarTelefonos_InputMessage">
    <wsdl:part name="parameters" element="tns:listarTelefonos" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarTelefonos_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarTelefonosResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarTelefonos_InputMessage">
    <wsdl:part name="parameters" element="tns:filtrarTelefonos" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarTelefonos_OutputMessage">
    <wsdl:part name="parameters" element="tns:filtrarTelefonosResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarTelefonos_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarTelefonos" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarTelefonos_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarTelefonosResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarTelefonos_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarTelefonos" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarTelefonos_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarTelefonosResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarTelefonos_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarTelefonos" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_eliminarTelefonos_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarTelefonosResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarRol_InputMessage">
    <wsdl:part name="parameters" element="tns:listarRol" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_listarRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarRolResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarRol_InputMessage">
    <wsdl:part name="parameters" element="tns:filtrarRol" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_filtrarRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:filtrarRolResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarRol_InputMessage">
    <wsdl:part name="parameters" element="tns:insertarRol" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_insertarRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarRolResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarRol_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarRol" />
  </wsdl:message>
  <wsdl:message name="ICatalogosMantenimientos_actualizarRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarRolResponse" />
  </wsdl:message>
  <wsdl:portType name="ICatalogosMantenimientos">
    <wsdl:operation name="eliminarRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarRol" message="tns:ICatalogosMantenimientos_eliminarRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarRolResponse" message="tns:ICatalogosMantenimientos_eliminarRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarMemebresias">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarMemebresias" message="tns:ICatalogosMantenimientos_listarMemebresias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarMemebresiasResponse" message="tns:ICatalogosMantenimientos_listarMemebresias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="filtrarMemebresias">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarMemebresias" message="tns:ICatalogosMantenimientos_filtrarMemebresias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarMemebresiasResponse" message="tns:ICatalogosMantenimientos_filtrarMemebresias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarMemebresias">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarMemebresias" message="tns:ICatalogosMantenimientos_insertarMemebresias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarMemebresiasResponse" message="tns:ICatalogosMantenimientos_insertarMemebresias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarMemebresias">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarMemebresias" message="tns:ICatalogosMantenimientos_actualizarMemebresias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarMemebresiasResponse" message="tns:ICatalogosMantenimientos_actualizarMemebresias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarMemebresias">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarMemebresias" message="tns:ICatalogosMantenimientos_eliminarMemebresias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarMemebresiasResponse" message="tns:ICatalogosMantenimientos_eliminarMemebresias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarBeneficiarios">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarBeneficiarios" message="tns:ICatalogosMantenimientos_listarBeneficiarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarBeneficiariosResponse" message="tns:ICatalogosMantenimientos_listarBeneficiarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="filtrarBeneficiarios">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarBeneficiarios" message="tns:ICatalogosMantenimientos_filtrarBeneficiarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarBeneficiariosResponse" message="tns:ICatalogosMantenimientos_filtrarBeneficiarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarBeneficiarios">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarBeneficiarios" message="tns:ICatalogosMantenimientos_insertarBeneficiarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarBeneficiariosResponse" message="tns:ICatalogosMantenimientos_insertarBeneficiarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarBeneficiarios">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarBeneficiarios" message="tns:ICatalogosMantenimientos_actualizarBeneficiarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarBeneficiariosResponse" message="tns:ICatalogosMantenimientos_actualizarBeneficiarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarBeneficiarios">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarBeneficiarios" message="tns:ICatalogosMantenimientos_eliminarBeneficiarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarBeneficiariosResponse" message="tns:ICatalogosMantenimientos_eliminarBeneficiarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarClientes" message="tns:ICatalogosMantenimientos_listarClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarClientesResponse" message="tns:ICatalogosMantenimientos_listarClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="filtrarClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarClientes" message="tns:ICatalogosMantenimientos_filtrarClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarClientesResponse" message="tns:ICatalogosMantenimientos_filtrarClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarClientes" message="tns:ICatalogosMantenimientos_insertarClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarClientesResponse" message="tns:ICatalogosMantenimientos_insertarClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarClientes" message="tns:ICatalogosMantenimientos_actualizarClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarClientesResponse" message="tns:ICatalogosMantenimientos_actualizarClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarClientes" message="tns:ICatalogosMantenimientos_eliminarClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarClientesResponse" message="tns:ICatalogosMantenimientos_eliminarClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarCorreos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarCorreos" message="tns:ICatalogosMantenimientos_listarCorreos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarCorreosResponse" message="tns:ICatalogosMantenimientos_listarCorreos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="filtrarCorreos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarCorreos" message="tns:ICatalogosMantenimientos_filtrarCorreos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarCorreosResponse" message="tns:ICatalogosMantenimientos_filtrarCorreos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarCorreos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarCorreos" message="tns:ICatalogosMantenimientos_insertarCorreos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarCorreosResponse" message="tns:ICatalogosMantenimientos_insertarCorreos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarCorreos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarCorreos" message="tns:ICatalogosMantenimientos_actualizarCorreos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarCorreosResponse" message="tns:ICatalogosMantenimientos_actualizarCorreos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarCorreos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarCorreos" message="tns:ICatalogosMantenimientos_eliminarCorreos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarCorreosResponse" message="tns:ICatalogosMantenimientos_eliminarCorreos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarEstado" message="tns:ICatalogosMantenimientos_listarEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarEstadoResponse" message="tns:ICatalogosMantenimientos_listarEstado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="filtrarEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarEstado" message="tns:ICatalogosMantenimientos_filtrarEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarEstadoResponse" message="tns:ICatalogosMantenimientos_filtrarEstado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarEstado" message="tns:ICatalogosMantenimientos_insertarEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarEstadoResponse" message="tns:ICatalogosMantenimientos_insertarEstado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarEstado" message="tns:ICatalogosMantenimientos_actualizarEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarEstadoResponse" message="tns:ICatalogosMantenimientos_actualizarEstado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarEstado" message="tns:ICatalogosMantenimientos_eliminarEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarEstadoResponse" message="tns:ICatalogosMantenimientos_eliminarEstado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="filtrarFacturacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarFacturacion" message="tns:ICatalogosMantenimientos_filtrarFacturacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarFacturacionResponse" message="tns:ICatalogosMantenimientos_filtrarFacturacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarFacturacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarFacturacion" message="tns:ICatalogosMantenimientos_insertarFacturacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarFacturacionResponse" message="tns:ICatalogosMantenimientos_insertarFacturacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarFacturacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarFacturacion" message="tns:ICatalogosMantenimientos_actualizarFacturacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarFacturacionResponse" message="tns:ICatalogosMantenimientos_actualizarFacturacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarFacturacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarFacturacion" message="tns:ICatalogosMantenimientos_eliminarFacturacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarFacturacionResponse" message="tns:ICatalogosMantenimientos_eliminarFacturacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarFacturaDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarFacturaDetalle" message="tns:ICatalogosMantenimientos_listarFacturaDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarFacturaDetalleResponse" message="tns:ICatalogosMantenimientos_listarFacturaDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="filtrarFacturaDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarFacturaDetalle" message="tns:ICatalogosMantenimientos_filtrarFacturaDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarFacturaDetalleResponse" message="tns:ICatalogosMantenimientos_filtrarFacturaDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarFacturaDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarFacturaDetalle" message="tns:ICatalogosMantenimientos_insertarFacturaDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarFacturaDetalleResponse" message="tns:ICatalogosMantenimientos_insertarFacturaDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarFacturaDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarFacturaDetalle" message="tns:ICatalogosMantenimientos_actualizarFacturaDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarFacturaDetalleResponse" message="tns:ICatalogosMantenimientos_actualizarFacturaDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarFacturaDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarFacturaDetalle" message="tns:ICatalogosMantenimientos_eliminarFacturaDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarFacturaDetalleResponse" message="tns:ICatalogosMantenimientos_eliminarFacturaDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarPersona" message="tns:ICatalogosMantenimientos_listarPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarPersonaResponse" message="tns:ICatalogosMantenimientos_listarPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="filtrarPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarPersona" message="tns:ICatalogosMantenimientos_filtrarPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarPersonaResponse" message="tns:ICatalogosMantenimientos_filtrarPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarPersona" message="tns:ICatalogosMantenimientos_insertarPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarPersonaResponse" message="tns:ICatalogosMantenimientos_insertarPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarPersona" message="tns:ICatalogosMantenimientos_actualizarPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarPersonaResponse" message="tns:ICatalogosMantenimientos_actualizarPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarPersona" message="tns:ICatalogosMantenimientos_eliminarPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarPersonaResponse" message="tns:ICatalogosMantenimientos_eliminarPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarTipoServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarTipoServicio" message="tns:ICatalogosMantenimientos_listarTipoServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarTipoServicioResponse" message="tns:ICatalogosMantenimientos_listarTipoServicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="filtrarTipoServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarTipoServicio" message="tns:ICatalogosMantenimientos_filtrarTipoServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarTipoServicioResponse" message="tns:ICatalogosMantenimientos_filtrarTipoServicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarTipoServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarTipoServicio" message="tns:ICatalogosMantenimientos_insertarTipoServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarTipoServicioResponse" message="tns:ICatalogosMantenimientos_insertarTipoServicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarTipoServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarTipoServicio" message="tns:ICatalogosMantenimientos_actualizarTipoServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarTipoServicioResponse" message="tns:ICatalogosMantenimientos_actualizarTipoServicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarTipoServicio">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarTipoServicio" message="tns:ICatalogosMantenimientos_eliminarTipoServicio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarTipoServicioResponse" message="tns:ICatalogosMantenimientos_eliminarTipoServicio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarTipoMembresia">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarTipoMembresia" message="tns:ICatalogosMantenimientos_listarTipoMembresia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarTipoMembresiaResponse" message="tns:ICatalogosMantenimientos_listarTipoMembresia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="filtrarTipoMembresia">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarTipoMembresia" message="tns:ICatalogosMantenimientos_filtrarTipoMembresia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarTipoMembresiaResponse" message="tns:ICatalogosMantenimientos_filtrarTipoMembresia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarTipoMembresia">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarTipoMembresia" message="tns:ICatalogosMantenimientos_insertarTipoMembresia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarTipoMembresiaResponse" message="tns:ICatalogosMantenimientos_insertarTipoMembresia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarTipoMembresia">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarTipoMembresia" message="tns:ICatalogosMantenimientos_actualizarTipoMembresia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarTipoMembresiaResponse" message="tns:ICatalogosMantenimientos_actualizarTipoMembresia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarTipoMembresia">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarTipoMembresia" message="tns:ICatalogosMantenimientos_eliminarTipoMembresia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarTipoMembresiaResponse" message="tns:ICatalogosMantenimientos_eliminarTipoMembresia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarTipoCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarTipoCliente" message="tns:ICatalogosMantenimientos_listarTipoCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarTipoClienteResponse" message="tns:ICatalogosMantenimientos_listarTipoCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="filtrarTipoCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarTipoCliente" message="tns:ICatalogosMantenimientos_filtrarTipoCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarTipoClienteResponse" message="tns:ICatalogosMantenimientos_filtrarTipoCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarTipoCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarTipoCliente" message="tns:ICatalogosMantenimientos_insertarTipoCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarTipoClienteResponse" message="tns:ICatalogosMantenimientos_insertarTipoCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarTipoCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarTipoCliente" message="tns:ICatalogosMantenimientos_actualizarTipoCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarTipoClienteResponse" message="tns:ICatalogosMantenimientos_actualizarTipoCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarTipoCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarTipoCliente" message="tns:ICatalogosMantenimientos_eliminarTipoCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarTipoClienteResponse" message="tns:ICatalogosMantenimientos_eliminarTipoCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarUsuario" message="tns:ICatalogosMantenimientos_listarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarUsuarioResponse" message="tns:ICatalogosMantenimientos_listarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="filtrarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarUsuario" message="tns:ICatalogosMantenimientos_filtrarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarUsuarioResponse" message="tns:ICatalogosMantenimientos_filtrarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarUsuario" message="tns:ICatalogosMantenimientos_insertarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarUsuarioResponse" message="tns:ICatalogosMantenimientos_insertarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarUsuario" message="tns:ICatalogosMantenimientos_actualizarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarUsuarioResponse" message="tns:ICatalogosMantenimientos_actualizarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarUsuario" message="tns:ICatalogosMantenimientos_eliminarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarUsuarioResponse" message="tns:ICatalogosMantenimientos_eliminarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarTelefonos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarTelefonos" message="tns:ICatalogosMantenimientos_listarTelefonos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarTelefonosResponse" message="tns:ICatalogosMantenimientos_listarTelefonos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="filtrarTelefonos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarTelefonos" message="tns:ICatalogosMantenimientos_filtrarTelefonos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarTelefonosResponse" message="tns:ICatalogosMantenimientos_filtrarTelefonos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarTelefonos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarTelefonos" message="tns:ICatalogosMantenimientos_insertarTelefonos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarTelefonosResponse" message="tns:ICatalogosMantenimientos_insertarTelefonos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarTelefonos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarTelefonos" message="tns:ICatalogosMantenimientos_actualizarTelefonos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarTelefonosResponse" message="tns:ICatalogosMantenimientos_actualizarTelefonos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarTelefonos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarTelefonos" message="tns:ICatalogosMantenimientos_eliminarTelefonos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/eliminarTelefonosResponse" message="tns:ICatalogosMantenimientos_eliminarTelefonos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarRol" message="tns:ICatalogosMantenimientos_listarRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/listarRolResponse" message="tns:ICatalogosMantenimientos_listarRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="filtrarRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarRol" message="tns:ICatalogosMantenimientos_filtrarRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/filtrarRolResponse" message="tns:ICatalogosMantenimientos_filtrarRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertarRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarRol" message="tns:ICatalogosMantenimientos_insertarRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/insertarRolResponse" message="tns:ICatalogosMantenimientos_insertarRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarRol" message="tns:ICatalogosMantenimientos_actualizarRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogosMantenimientos/actualizarRolResponse" message="tns:ICatalogosMantenimientos_actualizarRol_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICatalogosMantenimientos" type="tns:ICatalogosMantenimientos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="eliminarRol">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/eliminarRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarMemebresias">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/listarMemebresias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filtrarMemebresias">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/filtrarMemebresias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarMemebresias">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/insertarMemebresias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarMemebresias">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/actualizarMemebresias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarMemebresias">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/eliminarMemebresias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarBeneficiarios">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/listarBeneficiarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filtrarBeneficiarios">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/filtrarBeneficiarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarBeneficiarios">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/insertarBeneficiarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarBeneficiarios">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/actualizarBeneficiarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarBeneficiarios">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/eliminarBeneficiarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarClientes">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/listarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filtrarClientes">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/filtrarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarClientes">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/insertarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarClientes">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/actualizarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarClientes">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/eliminarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarCorreos">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/listarCorreos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filtrarCorreos">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/filtrarCorreos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarCorreos">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/insertarCorreos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarCorreos">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/actualizarCorreos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarCorreos">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/eliminarCorreos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarEstado">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/listarEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filtrarEstado">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/filtrarEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarEstado">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/insertarEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarEstado">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/actualizarEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarEstado">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/eliminarEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filtrarFacturacion">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/filtrarFacturacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarFacturacion">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/insertarFacturacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarFacturacion">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/actualizarFacturacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarFacturacion">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/eliminarFacturacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarFacturaDetalle">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/listarFacturaDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filtrarFacturaDetalle">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/filtrarFacturaDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarFacturaDetalle">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/insertarFacturaDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarFacturaDetalle">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/actualizarFacturaDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarFacturaDetalle">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/eliminarFacturaDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarPersona">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/listarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filtrarPersona">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/filtrarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarPersona">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/insertarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarPersona">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/actualizarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarPersona">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/eliminarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarTipoServicio">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/listarTipoServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filtrarTipoServicio">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/filtrarTipoServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarTipoServicio">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/insertarTipoServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarTipoServicio">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/actualizarTipoServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarTipoServicio">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/eliminarTipoServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarTipoMembresia">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/listarTipoMembresia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filtrarTipoMembresia">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/filtrarTipoMembresia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarTipoMembresia">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/insertarTipoMembresia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarTipoMembresia">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/actualizarTipoMembresia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarTipoMembresia">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/eliminarTipoMembresia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarTipoCliente">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/listarTipoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filtrarTipoCliente">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/filtrarTipoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarTipoCliente">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/insertarTipoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarTipoCliente">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/actualizarTipoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarTipoCliente">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/eliminarTipoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarUsuario">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/listarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filtrarUsuario">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/filtrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/insertarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarUsuario">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/actualizarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/eliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarTelefonos">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/listarTelefonos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filtrarTelefonos">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/filtrarTelefonos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarTelefonos">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/insertarTelefonos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarTelefonos">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/actualizarTelefonos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarTelefonos">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/eliminarTelefonos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarRol">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/listarRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filtrarRol">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/filtrarRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarRol">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/insertarRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarRol">
      <soap:operation soapAction="http://tempuri.org/ICatalogosMantenimientos/actualizarRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CatalogosMantenimientos">
    <wsdl:port name="BasicHttpBinding_ICatalogosMantenimientos" binding="tns:BasicHttpBinding_ICatalogosMantenimientos">
      <soap:address location="http://localhost:20191/CatalogosMantenimientos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>