ClubCampestreUI/ClubCampestre_BLL/Service References/SVC_CatalogosMantenimientos/CatalogosMantenimientos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20191/CatalogosMantenimientos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="eliminarRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bIdRol" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarRolResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarMemebresias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarMemebresiasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listarMemebresiasResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarMemebresias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iIdMembresia" type="xs:int" />
        <xs:element minOccurs="0" name="sIdCliente" type="xs:short" />
        <xs:element minOccurs="0" name="bIdTipoMembresia" type="xs:unsignedByte" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cIdEstado" type="q1:char" />
        <xs:element minOccurs="0" name="dFechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dFechaVence" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarMemebresiasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtrarMemebresiasResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarMemebresias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sIdCliente" type="xs:short" />
        <xs:element minOccurs="0" name="bIdTipoMembresia" type="xs:unsignedByte" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cIdEstado" type="q2:char" />
        <xs:element minOccurs="0" name="dFechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dFechaVence" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarMemebresiasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarMemebresiasResult" type="xs:int" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarMemebresias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iIdMembresia" type="xs:int" />
        <xs:element minOccurs="0" name="sIdCliente" type="xs:short" />
        <xs:element minOccurs="0" name="bIdTipoMembresia" type="xs:unsignedByte" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cIdEstado" type="q3:char" />
        <xs:element minOccurs="0" name="dFechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dFechaVence" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarMemebresiasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarMemebresiasResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarMemebresias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iIdMembresia" type="xs:int" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarMemebresiasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarMemebresiasResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarBeneficiarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarBeneficiariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listarBeneficiariosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarBeneficiarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sIdBeneficiario" type="xs:short" />
        <xs:element minOccurs="0" name="sIdCliente" type="xs:short" />
        <xs:element minOccurs="0" name="sIdPersona" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cIdEstado" type="q4:char" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarBeneficiariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtrarBeneficiariosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarBeneficiarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sIdBeneficiario" type="xs:short" />
        <xs:element minOccurs="0" name="sIdCliente" type="xs:short" />
        <xs:element minOccurs="0" name="sIdPersona" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cIdEstado" type="q5:char" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarBeneficiariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarBeneficiariosResult" type="xs:short" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarBeneficiarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sIdBeneficiario" type="xs:short" />
        <xs:element minOccurs="0" name="sIdCliente" type="xs:short" />
        <xs:element minOccurs="0" name="sIdPersona" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cIdEstado" type="q6:char" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarBeneficiariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarBeneficiariosResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarBeneficiarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SIdBeneficiario" type="xs:short" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarBeneficiariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarBeneficiariosResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarClientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listarClientesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarClientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sIdCliente" type="xs:short" />
        <xs:element minOccurs="0" name="bIdTipoCliente" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="sIdPersona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtrarClientesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarClientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sIdCliente" type="xs:short" />
        <xs:element minOccurs="0" name="bIdTipoCliente" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="sIdPersona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarClientesResult" type="xs:short" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarClientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sIdCliente" type="xs:short" />
        <xs:element minOccurs="0" name="bIdTipoCliente" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="sIdPersona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarClientesResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarClientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sIdCliente" type="xs:short" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarClientesResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarCorreos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarCorreosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listarCorreosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarCorreos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sIdCorreo" type="xs:short" />
        <xs:element minOccurs="0" name="sIdPersona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sCorreo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarCorreosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtrarCorreosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarCorreos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sIdPersona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sCorreo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarCorreosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarCorreosResult" type="xs:short" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarCorreos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sIdCorreo" type="xs:short" />
        <xs:element minOccurs="0" name="sIdPersona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sCorreo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarCorreosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarCorreosResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarCorreos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sIdCorreo" type="xs:short" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarCorreosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarCorreosResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listarEstadoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cIdEstado" type="q7:char" />
        <xs:element minOccurs="0" name="sEstado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtrarEstadoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cIdEstado" type="q8:char" />
        <xs:element minOccurs="0" name="sEstado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="insertarEstadoResult" type="q9:char" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cIdEstado" type="q10:char" />
        <xs:element minOccurs="0" name="sEstado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarEstadoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cIdEstado" type="q11:char" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarEstadoResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarFacturacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iIdFactura" type="xs:int" />
        <xs:element minOccurs="0" name="sIdCliente" type="xs:short" />
        <xs:element minOccurs="0" name="sDescripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DFecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fMontototal" type="xs:float" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarFacturacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtrarFacturacionResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarFacturacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iIdFactura" type="xs:int" />
        <xs:element minOccurs="0" name="sIdCliente" type="xs:short" />
        <xs:element minOccurs="0" name="sDescripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DFecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fMontototal" type="xs:float" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarFacturacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarFacturacionResult" type="xs:int" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarFacturacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iIdFactura" type="xs:int" />
        <xs:element minOccurs="0" name="sIdCliente" type="xs:short" />
        <xs:element minOccurs="0" name="sDescripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DFecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fMontototal" type="xs:float" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarFacturacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarFacturacionResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarFacturacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iIdFactura" type="xs:int" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarFacturacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarFacturacionResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarFacturaDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarFacturaDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listarFacturaDetalleResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarFacturaDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iIdFacturaDetalle" type="xs:int" />
        <xs:element minOccurs="0" name="iIdFactura" type="xs:int" />
        <xs:element minOccurs="0" name="sDetalle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fcosto" type="xs:float" />
        <xs:element minOccurs="0" name="bIdTipoServicio" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="iIdMembresia" type="xs:int" />
        <xs:element minOccurs="0" name="icantidad" type="xs:int" />
        <xs:element minOccurs="0" name="ftotal" type="xs:float" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarFacturaDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtrarFacturaDetalleResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarFacturaDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iIdFacturaDetalle" type="xs:int" />
        <xs:element minOccurs="0" name="iIdFactura" type="xs:int" />
        <xs:element minOccurs="0" name="sDetalle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fcosto" type="xs:float" />
        <xs:element minOccurs="0" name="bIdTipoServicio" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="iIdMembresia" type="xs:int" />
        <xs:element minOccurs="0" name="icantidad" type="xs:int" />
        <xs:element minOccurs="0" name="ftotal" type="xs:float" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarFacturaDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarFacturaDetalleResult" type="xs:int" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarFacturaDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iIdFacturaDetalle" type="xs:int" />
        <xs:element minOccurs="0" name="iIdFactura" type="xs:int" />
        <xs:element minOccurs="0" name="sDetalle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fcosto" type="xs:float" />
        <xs:element minOccurs="0" name="bIdTipoServicio" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="iIdMembresia" type="xs:int" />
        <xs:element minOccurs="0" name="icantidad" type="xs:int" />
        <xs:element minOccurs="0" name="ftotal" type="xs:float" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarFacturaDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarFacturaDetalleResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarFacturaDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iIdFacturaDetalle" type="xs:int" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarFacturaDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarFacturaDetalleResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listarPersonaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sIdPersona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sNombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sDireccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sIdRol" type="xs:short" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtrarPersonaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sIdPersona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sNombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sDireccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sIdRol" type="xs:short" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarPersonaResult" type="xs:short" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sIdPersona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sNombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sDireccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sIdRol" type="xs:short" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarPersonaResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sIdPersona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarPersonaResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsjError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarTipoServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarTipoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listarTipoServicioResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarTipoServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTipoServicio" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Costo" type="xs:float" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarTipoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtrarTipoServicioResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarTipoServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Costo" type="xs:float" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarTipoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarTipoServicioResult" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarTipoServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTipoServicio" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Costo" type="xs:float" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarTipoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarTipoServicioResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarTipoServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTipoServicio" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarTipoServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarTipoServicioResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarTipoMembresia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarTipoMembresiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listarTipoMembresiaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarTipoMembresia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTipoMembresia" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Costo" type="xs:float" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarTipoMembresiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtrarTipoMembresiaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarTipoMembresia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTipoMembresia" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Costo" type="xs:float" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarTipoMembresiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="insertarTipoMembresiaResult" type="q12:char" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarTipoMembresia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTipoMembresia" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Costo" type="xs:float" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarTipoMembresiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarTipoMembresiaResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarTipoMembresia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTipoMembresia" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarTipoMembresiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarTipoMembresiaResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarTipoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarTipoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listarTipoClienteResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarTipoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTipoCliente" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarTipoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtrarTipoClienteResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarTipoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTipoCliente" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarTipoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="insertarTipoClienteResult" type="q13:char" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarTipoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTipoCliente" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarTipoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarTipoClienteResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarTipoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdTipoCliente" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarTipoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarTipoClienteResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listarUsuarioResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdPersona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtrarUsuarioResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdPersona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="insertarUsuarioResult" type="q14:char" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdPersona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarUsuarioResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarUsuarioResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarTelefonos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarTelefonosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listarTelefonosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarTelefonos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdPersona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarTelefonosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtrarTelefonosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarTelefonos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdPersona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarTelefonosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="insertarTelefonosResult" type="q15:char" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarTelefonos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdPersona" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarTelefonosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarTelefonosResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarTelefonos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarTelefonosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarTelefonosResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listarRolResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bIdRol" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="sDescripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filtrarRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtrarRolResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sDescripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertarRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertarRolResult" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bIdRol" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="sDescripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actualizarRolResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sMsj_error" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>